$color-blue:#121E6C;
$color-red: #EE424E;
$color-dark-grey: #606060;
$color-light-grey: #F3F3F3;
$color-white: #F6F4F9;
$color-pure-white:#FFF;
$color-green:#32ce32;
$color-black:#000;
$break-point-1: 576px;
$break-point-2: 768px;

$background-gradient:linear-gradient(90deg,$color-blue 10%, $color-red);
